h1 {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color:#24b7df
}
.cardContainer {
    max-width: 300px;
    border: 2px dashed #24b7df;
    border-radius: 8px;
}